:host {
  position: relative;
}

:host.editMode ::ng-deep div:first-child {
  border: 1px solid black;
  background-color: antiquewhite;
}

.cms-buttons {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 10px;

  button {
    transition: 0.2s all;
  }

  button:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
}

.editButton {
  margin-right: 5px;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
