:host {
  position: relative;
}

:host p {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 10px;
}

:host.editMode p {
  border: 1px solid black;
}

.cms-buttons {
  display: block;
  position: absolute;
  bottom: -20px;
  right: 10px;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
}
