<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar
    color="primary"
    class="example-toolbar justify-between"
    [ngStyle]="{ display: mobileQuery.matches ? 'flex' : 'none' }"
  >
    <div class="flex items-center">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Responsive App</h1>
    </div>
    <app-toolbar-icons></app-toolbar-icons>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      class="primary"
    >
      <img
        [src]="
          '/assets/logo_' +
          ((themeService.themeObservable$ | async) === 'light'
            ? 'primary'
            : 'white') +
          '.png'
        "
        class="p-2"
        [ngStyle]="{ marginTop: mobileQuery.matches ? '56px' : '0px' }"
      />
      <mat-nav-list>
        <div class="m-2">
          <a class="rounded-xl" mat-list-item routerLink=".">Test</a>
        </div>
        <div class="m-2">
          <a class="rounded-xl" mat-list-item routerLink=".">Test</a>
        </div>
        <div class="m-2">
          <a class="rounded-xl" mat-list-item routerLink=".">Test</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      class="p-5"
      [ngStyle]="{ marginTop: mobileQuery.matches ? '56px' : '0px' }"
    >
      <h1 class="text-3xl font-bold underline">Hello world!!</h1>
      <app-cms-box></app-cms-box>
      <app-toolbar-icons
        *ngIf="!mobileQuery.matches"
        class="absolute right-0 top-0"
      ></app-toolbar-icons>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
