<mat-icon
  role="img"
  svgicon="theme-example"
  aria-hidden="true"
  data-mat-icon-type="svg"
  data-mat-icon-name="theme-example"
>
  <svg
    id="elGypgfqSMO1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 200 200"
    shape-rendering="geometricPrecision"
    text-rendering="geometricPrecision"
  >
    <rect
      class="background"
      width="640"
      height="480"
      rx="0"
      ry="0"
      fill="#fafafa"
      stroke-width="0"
    />
    <rect
      class="header"
      width="640"
      height="52.561139"
      rx="0"
      ry="0"
      transform="matrix(.3125 0 0 0.733336 0 0)"
      fill="#4b1490"
      stroke-width="0"
    />
    <rect
      class="button"
      width="223.092834"
      height="67.745467"
      rx="28"
      ry="28"
      transform="matrix(.379582 0 0 0.466396 57.658988 84.201893)"
      fill="#f69421"
      stroke-width="0"
    />
  </svg>
</mat-icon>
