:host.theme-primary .background {
  fill: #fafafa;
}
:host.theme-primary .header {
  fill: #4b1490;
}
:host.theme-primary .button {
  fill: #f69421;
}

:host.theme-light .background {
  fill: #fafafa;
}
:host.theme-light .header {
  fill: #d7d2dd;
}
:host.theme-light .button {
  fill: #f69421;
}

:host.theme-dark .background {
  fill: #303030;
}
:host.theme-dark .header {
  fill: #4b1490;
}
:host.theme-dark .button {
  fill: #f69421;
}
